<!DOCTYPE html>
<html lang="en">
<head>
    <title>Trade Marketing System </title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    @*<link href="~/Content/bootstrap.min.css" rel="stylesheet" />*@
    @*<link href="@Url.Content("~/Content/kendo/2020.1.219/kendo.bootstrap-v4.min.css")" rel="stylesheet" type="text/css" />*@
    @*<link href="@Url.Content("~/Content/bootstrap.min.css")" rel="stylesheet" type="text/css" />*@
    <link href="~/Content/kendo/2020.1.219/kendo.common.min.css" rel="stylesheet" />
    @*<link href="@Url.Content("~/Content/kendo/2020.1.219/kendo.common-material.min.css")" rel="stylesheet" type="text/css" />*@
    <link href="@Url.Content("~/Content/kendo/2020.1.219/kendo.mobile.all.min.css")" rel="stylesheet" type="text/css" />
    @*<link href="@Url.Content("~/Content/kendo/2020.1.219/kendo.dataviz.min.css")" rel="stylesheet" type="text/css" />*@
    <link href="@Url.Content("~/Content/kendo/2020.1.219/kendo.material.min.css")" rel="stylesheet" type="text/css" />
    @*<link href="@Url.Content("~/Content/kendo/2020.1.219/kendo.dataviz.default.min.css")" rel="stylesheet" type="text/css" />*@

    <link rel="stylesheet" href="~/Content/frontend/css/bootstrap.css" />
    <link href="~/Content/frontend/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/frontend/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/Content/frontend/css/datepicker3.css" rel="stylesheet">
    <link href="~/Content/frontend/css/styles.css" rel="stylesheet">
    <link href="~/Content/frontend/css/custom_css.css" rel="stylesheet">
    <script src="@Url.Content("~/Scripts/kendo/2020.1.219/jquery.min.js")"></script>
    <script src="@Url.Content("~/Scripts/kendo/2020.1.219/jszip.min.js")"></script>
    <script src="@Url.Content("~/Scripts/kendo/2020.1.219/kendo.all.min.js")"></script>
    <script src="@Url.Content("~/Scripts/kendo/2020.1.219/kendo.aspnetmvc.min.js")"></script>
</head>
<body>

    <!--Header-part-->
    @Html.Partial("_Header")
    <!--sidebar-menu-->
    @Html.Partial("_Sidebar")
    <!--sidebar-menu-->
    <!--main-container-part-->
    <div  class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
        <div class="row">
            <ol class="breadcrumb">
                <li>
                    <a href="#">
                        <em class="fa fa-home"></em>
                    </a>
                </li>
                <li class="active">@ViewBag.Page</li>
            </ol>
        </div><!--/.row-->

        @RenderBody()
    </div>
  
    <!--end-main-container-part-->
    <!--Footer-part-->
    @Html.Partial("_Footer")

    <!--end-Footer-part-->
    @*<script src="~/Content/frontend/js/jquery.min.js"></script>*@
    <script src="~/Content/frontend/js/bootstrap.min.js"></script>

    <script src="~/Content/frontend/js/custom.js"></script>

    <script type="text/javascript">
                // This function is called from the pop-up menus to transfer to
                // a different page. Ignore if the value returned is a null string:
        $(document).on("click", "ul.nav li.parent > a ", function () {
            $(this).find('i').toggleClass("fa-minus");
        });
        $(document).on("click", "ul.nav li.parent li.sub-sub-menu > a ", function () {
            $(this).find('em').toggleClass("fa-minus");
        });
        $(document).on("click", "ul.nav li> a", function () {
            $("ul.nav li").removeClass("active");
            $(this).parent().addClass("active");
        });

        $(".sidebar span.icon").find('em:first').addClass("fa-plus");
    </script>
    @RenderSection("scripts", required: false)
</body>
</html>
