@using Microsoft.AspNet.Identity

<div id="sidebar-collapse" class="col-sm-3 col-lg-2 sidebar">
    <div class="profile-sidebar">
        <div class="profile-userpic">
            <img src="http://placehold.it/50/30a5ff/fff" class="img-responsive" alt="">
        </div>
        <div class="profile-usertitle">
            <div style="color:#fff" class="profile-usertitle-name">@User.Identity.GetUserName()</div>
         
        </div>
        <div class="clear"></div>
    </div>
    <div class="divider"></div>

    <ul class="nav menu">
        @Html.Partial("_Dashboards")

        @Html.Partial("_CustomerService")
        @Html.Partial("_LicenseInspection")
        @Html.Partial("_InformalTrade")


    </ul>
</div><!--/.sidebar-->